
  .hero {
    display: none;
  }

  .category-menu-wr:hover .hero {
    display: block;
  } 

  .hero li a:hover {
    color: blue !important;
  }

  .category-item-2:hover .list-sub-menu {
    display: block !important;
  }

  .logo {
    width: 40px !important;
  }
.swiper{
    width: 100%;
    height: 100%;
}
.swiper-slide{
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.swiper-slide img{
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}